<p>
  Id du pokemon :  {{choixDresseur}}
  <select [(ngModel)]="choixDresseur">
    <option *ngFor="let pokemon of listPokemon | pokemonName:filtre" [value]="pokemon.id" >{{pokemon.name}}</option>
  </select>
  filtre :
  <input [(ngModel)]="filtre">
  <button (click)="go()">GO</button>
</p>
